Package: com.mbo42.proxyswitcher
Name: ProxySwitcher
Depends: mobilesubstrate, PreferenceLoader, org.thebigboss.libstatus9, firmware(>=9.1)
Version: 1.0.2
Architecture: iphoneos-arm
Description: Easily toggle between using a proxy on WiFi.
Maintainer: mbo42
Author: mbo42
Section: Tweaks
Icon: file:///Library/Application Support/ProxySwitcher/ProxySwitcherBundle.bundle/icon.png