<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>PostNotification</key>
			<string>com.mikaelbo.proxyswitcher/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.mikaelbo.proxyswitcher</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.mikaelbo.proxyswitcher/settingschanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.mikaelbo.proxyswitcher</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>type</string>
			<key>label</key>
			<string>Setting</string>
			<key>validTitles</key>
			<array>
				<string>Direct</string>
				<string>Proxy</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Proxy</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>{&quot;numbers&quot;, &quot;phone&quot;}</string>
			<key>isURL</key>
			<true/>
			<key>noAutoCorrect</key>
			<true/>
			<key>cellClass</key>
			<string>MBTextFieldCell</string>
			<key>defaults</key>
			<string>com.mikaelbo.proxyswitcher</string>
			<key>key</key>
			<string>server</string>
			<key>label</key>
			<string>Server</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>isNumeric</key>
			<true/>
			<key>noAutoCorrect</key>
			<true/>
			<key>keyboard</key>
			<string>{&quot;numbers&quot;}</string>
			<key>cellClass</key>
			<string>MBTextFieldCell</string>
			<key>defaults</key>
			<string>com.mikaelbo.proxyswitcher</string>
			<key>key</key>
			<string>port</string>
			<key>label</key>
			<string>Port</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mikaelbo.proxyswitcher</string>
			<key>key</key>
			<string>authentication</string>
			<key>label</key>
			<string>Authentication</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MBTextFieldCell</string>
			<key>keyboard</key>
			<string>{&quot;numbers&quot;, &quot;phone&quot;}</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.mikaelbo.proxyswitcher</string>
			<key>key</key>
			<string>username</string>
			<key>label</key>
			<string>Username</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MBPasswordTextFieldCell</string>
			<key>keyboard</key>
			<string>{&quot;numbers&quot;, &quot;phone&quot;}</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>defaults</key>
			<string>com.mikaelbo.proxyswitcher</string>
			<key>key</key>
			<string>password</string>
			<key>label</key>
			<string>Password</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Contact me</string>
			<key>action</key>
			<string>contactMe</string>
			<key>icon</key>
			<string>EmailIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send feedback</string>
			<key>action</key>
			<string>sendFeedback</string>
			<key>icon</key>
			<string>EmailIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>View source code</string>
			<key>action</key>
			<string>viewSourceCode</string>
			<key>icon</key>
			<string>GithubIcon.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>ProxySwitcher</string>
</dict>
</plist>
