Package: com.mikaelbo.proxyswitcherd
Name: ProxySwitcherd
Depends: 
Version: 1.0
Architecture: iphoneos-arm
Description: The daemon for ProxySwitcher
Maintainer: Mikaelbo
Author: Mikaelbo
Section: System
Tag: role::hacker
