Package: com.mikaelbo.proxyswitcherd
Name: ProxySwitcherd
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Mikaelbo
Author: Mikaelbo
Section: System
Tag: role::hacker
